<div class="flex flex-row border-r border-gray-300 p-5 h-20 items-center bg-white">
  <h1 class="text-xl font-bold pl-10">TechAtlas</h1>

  <div class="flex flex-1 justify-center space-x-2 h-5 items-center font-extralight">
    <a
      routerLink="/home"
      routerLinkActive="!border-black"
      class="border border-gray-300 flex items-center justify-center bg-white text-black font-extralight rounded-3xl w-50 px-5 py-2 hover:bg-black hover:text-white transition"
    >
      Dashboard
    </a>

    <a
      routerLink="/map"
      routerLinkActive="!border-black"
      class="border border-gray-300 flex items-center justify-center bg-white text-black font-extralight rounded-3xl w-50 px-5 py-2 hover:bg-black hover:text-white hover:border-black transition"
    >
      Kartenübersicht
    </a>

    <a
      routerLink="/basic-network"
      routerLinkActive="!border-black"
      class="border border-gray-300 flex items-center justify-center bg-white text-black font-extralight rounded-3xl w-50 px-5 py-2 hover:bg-black hover:text-white hover:border-black transition"
    >
      Netzwerkansicht
    </a>

    <a
      routerLink="/key-technologies"
      routerLinkActive="!border-black"
      class="border border-gray-300 flex items-center justify-center bg-white text-black font-extralight rounded-3xl w-50 px-5 py-2 hover:bg-black hover:text-white hover:border-black transition"
    >
      Schlüsseltechnologien
    </a>
  </div>
</div>
